:root{

    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--Pale-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container{
    max-width: 250px;
    background-color: white;
    margin: 1.5rem;
    border-radius: .625rem;
}
.container .card{
    padding: 2rem;
}
.container h2{
    margin-top: -1.5rem;
    text-align: center;
    color: var(--Dark-blue);
}
.container p{
    text-align: center;
    color: var(--Desaturated-blue);
}
.container .picture{
    background: url(./images/illustration-hero.png) no-repeat;
    background-size: contain;
    min-height: 200px;
    border-radius: .625rem .625rem 0rem 0rem;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.container .icon{
    margin-top: 1.25rem;
    content: url(./images/icon-music.png);
}
.container ul li{
    color: var(--Dark-blue);
    list-style: none;
    padding-bottom: 1.5rem;
}
.container ul li span{
    display: block;
}
li:nth-child(3), h4{
cursor: pointer;
}
.container ul li:nth-child(3){
    color: var(--Bright-blue);
    text-decoration: underline;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    margin: 0rem 1.5rem;
}
ul li:nth-child(2), li:nth-child(3){
    margin-top: 1.2rem;
}
ul li:nth-child(2){
    margin-left: -0.055rem;
}
h4{
   text-align: center;
}
#cta-pay{
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
    width: 95%;
    background-color: var(--Bright-blue);
    padding: 1rem 3rem;
    border-radius: 1rem;
}
#cta-cancel{
    color: var(--Desaturated-blue);
}
@media (min-width: 900px){
    body{
        background: url(./images/pattern-background-desktop.png) no-repeat;
        background-size: contain;
    }
}
