:root{

    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 375px;
    background-color: white;
    margin: 1.5rem;
    border-radius: .625rem;
}
.container .card{
    padding: 2rem;
}
.container h2{
    color: var(--Dark-blue);
}
.container p{
    color: var(--Desaturated-blue);
}
.container .picture{
    background: url(./images/illustration-hero.png) no-repeat;
    background-size: contain;
    min-height: 200px;
    border-radius: .625rem .625rem 0rem 0rem;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.container .icon{
    margin-top: 1.25rem;
    content: url(./images/icon-music.png);
}
.container ul li{
    list-style: none;
    padding-bottom: 1.5rem;
}
.container ul li span{
    display: block;
}
